In [1]:
from collections import Counter
import numpy as np
import math
import random
import pandas as pd
import plotly.express as px
import multiprocessing
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
import tensorflow as tf

In [12]:
n = 1000
Count = Counter()
for i in range(1):
    clustersAmount = 1
    curTreshold = 0.5
    probs = np.random.random((n, ))
    for j in range(n):
        if probs[j] > curTreshold:
            clustersAmount += 1
            curTreshold = clustersAmount / (clustersAmount + 1)
        else:
            continue
    Count.update({clustersAmount: 1})

In [13]:
counts = pd.DataFrame(Count.items())

In [4]:
counts

     0      1
0   16   8901
1   15  14044
2   14  18420
3   10   4358
4   13  19002
5   11   9648
6   17   4910
7   12  15571
8    9   1404
9   18   2217
10  19    848
11   8    280
12  20    264
13  22     17
14  21     82
15   7     28
16  23      3
17  24      1
18  25      1
19   6      1

In [11]:
def expected_clusters(n):
    E = [0] * (n + 1)
    E[1] = 1  # Base case

    for k in range(2, n + 1):
        E[k] = (k-1)/k * E[k-1] + 1/k * (E[k-1] + 1)

    return E[n]

n = 1000
print(expected_clusters(n))

7.485470860550348